body{
  font-family: 'Mingzat', sans-serif;
}

.lets-help{
  text-align: center;
 padding-top: 2cm;
 color: white;
 font-size:40px ;


}
.more-in{
  text-align: center;
  color: white;
  font-size:40px ;
}
.bannar-p{
  color: white;
  text-align: center;
}

.image{
  background-image: url("./images/donation1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  height: 500px;
  margin:auto;
  margin-bottom:30px ;
  padding-top: 85px;
  

}
.center{
  text-align: center;
}
.donate-button{
 
  color:lightgoldenrodyellow;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 20px;
  background-color:tomato;
  border: oldlace;
  border-radius: 5px;
  
}
/* 2.secound bannar */
#black{
  color: black;
  font-size: 30px;
}
.donate-today{
  text-align: center;
  margin: auto;
  width: 30%;
  color: gray;

}
.secound-bannar-a{
  display: flex;
  justify-content: center;
}
.secound-bannar-b{
  display:flex;
  text-align:center;
}
.money-part{
  padding: 20px 25px;
  margin: 20px;
  color: gray;
  background-color: rgb(247, 241, 241);
  font-size: 20px;

}
#money-id{
  color: tomato;
  border: 1px solid tomato;
  background-color:rgb(248,221,221) ;
}
.secound-bannar-c{
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.grey{
  color: grey;
}

hr{
  margin-bottom: 30px;
  color: grey;
}
.secound-bannar-d{
  width: 50%;
}
.third-bannar-a{
  text-align: center;
  display: flex;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}
.third-bannar-b{
   text-align: center;
   justify-content: center;
   display: flex;
   margin: 10px;
}
.third-bannar-c{
  width:20% ;
  padding:30px ;
  margin:10px ;
  justify-content:space-evenly ;
  border-radius:10px ;

}
#food-color-one{
  background-color: rgb(127, 231, 197);
}
#food-color-two{
  background-color: pink;
}
#food-color-three{
  background-color:rgb(191, 228, 116);
}
/* 4.0 banar */
.main-part{
    margin-top: 80px;
    display: flex;
}
.text-part{
    width: 40%;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 20px;
    color: rgb(85, 78, 78);
    text-align: justify;
}
.contribute-button{
    text-decoration:none;
    padding: 10px 15px;
    color: white;
    background-image: linear-gradient(tomato, red);
    border-radius: 10px;
    margin-bottom: 60px;
}
/* 4. fourth bannar*/
.fourth-bannar-sec{
  margin-top: 80px;
}
  .photo-gellary{
    text-align: center;
  }
  .fourth-bannar-a{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 20px;

   
  }
  .fourth-bannar-a div{
    width: 25%;
    background-color: rgb(235, 199, 199);
    padding: 10px;
    padding-top: 15px;
    border-radius: 10px;

  }
  .fourth-bannar-a img{
    width: 90%;
    border-radius: 10px;
  }
  h4{
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
/*  */
.update-part-a{
  margin: 80px;

}
.update-part-b{
  display: flex;
  display: block;
  text-align: center;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}
.update-part-c{
  display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 80px;
    background-color: rgb(217, 224, 149);
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px 0px;
    font-size: 16px;
}
.update-part-d{
  display: flex;
  border-radius: 5px;
}
#input{
  background-color: rgb(213, 212, 212);
    font-size: 20px;
    border: none;
    padding-left: 15px;
    padding: 5px 15px;
    padding-right: 0px;
    margin-right: 0px;
    border-radius: 10px;
}
#subscribe{
  text-decoration: none;
    background-color: tomato;
    padding: 10px 16px;
    margin-left: 0px;
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
/* FOOTER */
.footer-a{
margin-top:100px;
display:flex;
justify-content:center;
background-color: rgb(45,44,44);
color: white;
padding:25px ;
}
.footer-b{
  display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: tomato;
    font-family: 'The Nautigal', cursive;
}