.lets-help{
  text-align: center;
 padding-top: 2cm;
 color: white;

}
.more-in{
  text-align: center;
  color: white;
  
}
.image{
  background-image: url(/images/donation1.jpg);
  background-repeat: no-repeat;
  
}